# Python
__pycache__/
*.py[cod]
*$py.class

# Virtual environment
.venv/
venv/
ENV/
env/

# IDE
.idea/
.vscode/

# System
.DS_Store

# Environment variables
.env
.env.*

# Uploads and temporary files
uploads/
*.log
image/

# Build artifacts
build/
dist/
*.egg-info/
